
{% print '\033[1m\033[31m' %}
#########################################################################
#                                                                       #
#                               ATTENTION!                              #
#                                                                       #
# Configuration of this instance is managed automatically from Ansible. #
# Any manual changes can and will be rewritten at any time, govnoed.    #
#                                                                       #
#                                                                       #
#                                                                       #
#########################################################################
{% print '\033[0m\033[97m' %}
